body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
header {
    background: #1a1a1a;
    color: #e0e0e0;
    padding-top: 20px;
    min-height: 50px;
    border-bottom: #333 1px solid;
}
header a {
    color: #e0e0e0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a {
    color: #ff4136;
    font-weight: bold;
}
header a:hover {
    color: #ffffff;
    font-weight: bold;
}
@media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }
    header {
        padding-bottom: 20px;
    }
    #showcase h1 {
        font-size: 40px;
    }
}
footer {
    background: #1a1a1a;
    color: #e0e0e0;
    text-align: center;
    padding: 5px;
    margin-top: 100px;
}